h1 {
    color:white;
    text-align:center;
}

body {
    background-color:#ED4818;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #CB3C13;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* Style the links inside the sidebar */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: beige;
    display: block;
}

/* Change the color of links on hover */
.sidenav a:hover {
    color: black;
    background-color: #003891;
}

/* Add a background color on active links */
.sidenav a.active {
    color: black;
    background-color: #003891;
}

.content {
    margin-left: 150px;
    padding-left: 10px;
    margin-right: 10px;
}

h3 {
    font-size:40px;
    text-align:center;
}

img.home {
    border: 15px outset #707070;
    float: right;
    max-width: 100%;
    height: auto;
}

img.games {
    float:right;
    max-width: 180px;
    height: auto;
}

img.characthers {
    width: auto;
    max-height: 300px;
}

div.home {
    border-width:2px;
    border-style:solid;
    margin:15px;
    padding:15px;
    border-color:black;
    border-radius:20px;
    margin-right: 350px;
}

div.about {
    border-width:2px;
    border-style:solid;
    margin:15px;
    padding:10px;
    border-color:black;
    border-radius:20px;
}

div.games {
    border-width:2px;
    border-style:solid;
    margin:15px;
    padding:15px;
    border-color:black;
    border-radius:20px;
    margin-right: 200px;
    margin-left: 325px;
    align-content: center;
}

p.characthers {
    border-width:2px;
    border-style:solid;
    margin-right:115px;
    padding:10px;
    border-color:black;
    border-radius:20px;
    margin-left: inherit;
    margin-right: inherit;
}

a.gamelink {
    font-size: 30px;
    color: #003891;
    text-decoration: underline;
    padding-right: 20px;
    padding-top: 15px;
}

a.readmore {
    font-size: 30px;
    color: #003891;
    text-decoration: underline;
}

a:hover {
    color: #99BADD;
}
